* {
	margin: 0;
	padding: 0;
}

input[type="search"],
input[type="text"],
input[type="password"] {
	border: solid 1px #f2f2f2;
	width: 60%;
	padding: 8px;
}

.h1 {
	font: bold 120% "Bradley Hand", cursive;
	color: black;
	margin: 0 0 0 9px;
	letter-spacing: 0.1em;
}

.header {
	background-color: #00FA9A;
	height: 200px;
	font-size: 0, 8em;
	margin-left: 0px;
	margin-right: 0px;
	min-width: 900px;
}

.logo {
	width: 880px;
	padding-bottom: 40px;
	margin-left: auto;
	margin-right: auto;
}

.logo h1,
.logo h1 a,
.logo h1 a :hover {
	font: normal 165% "centry-gothic", cursive;
	color: #003000;
	margin: 0 0 0 9px;
	letter-spacing: 0.1em;
	text-decoration: none;
}

.logo h2 {
	font-size: 0.9em;
	margin: 4px 0 0 9px;
}

.menu {
	width: 1100px;
	height: 46px;
}

.menu li {
	float: left;
	list-style: none;
	padding: 0 0 0 9px;
	margin: 1px 2px 0 0;
}

.menu li a {
	font: normal 100% 'trebuchet ms', sans-serif;
	display: block;
	height: 20px;
	padding: 6px 35px 5px 28px;
	color: #fff;
	text-transform: none;
}

.menu li a:hover {
	transform: scale(1.5);
}

.menu ul li.active a {
	background-color: #000;
}

.site_content {
	width: 1200px;
	overflow: hidden;
	margin: 50px auto 0 auto;
	background-color: white;
}

.sidebar {
	float: right;
	width: 250px;
}

.block {
	margin: 360px;
	padding: 10%;
	margin: 0 0 16px 0;
	border: solid 3px #f2f2f2;
	border-radius: 10px;
	background-color: #f9f9f9;
}

.passreg {
	font-size: 0.7em;
	margin-top: 3%;
	margin-left: 3%;
}

.footer {
	width: 100%;
	height: 100px;
	padding: 28px 1000px 5px 0;
	text-align: center;
	background-color: #66FF66;
	color: #003300;
	font-size: 0.7em;
}

.content {
	text-align: left;
	width: 800px;
	padding: 0 0 0 5px;
	float: left;
}

.content img {
	border: 5px solid #fafafa;
	box-shadow: 1px 1px 3px 2px #888;
	height: 160px;
	width: auto;
	margin: 15px 5px 15px 5px;
}

.post {
	display: inline-block;
}

.post h2,
h2 a,
h2 a:hover {
	text-decoration: none;
	font: normal 'centry-gothic', cursive;
	color: darkgreen;
}

p,
.post_content li {
	padding: 0 0 18px 0;
	line-height: 2em;
}

.post_content {
	font: normal 140% 'centry-gothic', sans-serif;
	color: #003300;
}